@model RascunhoProcessoViewModel
@{
    ViewBag.Title = "Rascunhos de Processo";
    ViewBag.SubTitle = "Edição Rascunho";
}

<div class="form-group text-right">
    <a asp-controller="Rascunho" asp-action="Index" class="btn btn-primary btn-sm"><span><i class="fa fa-arrow-left"></i> Rascunhos</span></a>
    <button class="btnVisualizarRascunho btn-sm btn btn-info" data-id="@Model.Id" type="button">
        <i class="fa fa-file-text-o" aria-hidden="true"></i> Visualizar
    </button>

    <button class="btn-sm btn btn-success btnAutuarRascunho" data-id="@Model.Id" type="submit">
        <i class="fa fa-save" aria-hidden="true"></i> Autuar
    </button>

    <a asp-controller="Rascunho" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger btnExcluirRascunhoForm" data-id="@Model.Id"><i class="fa fa-trash"></i> Descartar</a>    
</div>

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><h3 class="box-title">Dados Básicos</h3></a></li>
        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><h3 class="box-title">Sinalizações</h3></a></li>
        <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false"><h3 class="box-title">Interessados</h3></a></li>
        <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="true"><h3 class="box-title">Abrangência</h3></a></li>
        <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="true"><h3 class="box-title">Anexos</h3></a></li>
        <li class=""><a href="#tab_6" id="tab-visualizar" data-toggle="tab" aria-expanded="true"><h3 class="box-title">Visualizar</h3></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div id="divformbasico">
                @Html.Partial("RascunhoBasico", Model)
            </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            @Html.Partial("~/Views/RascunhoSinalizacao/RascunhoSinalizacoes.cshtml", Model)
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
            @Html.Partial("~/Views/RascunhoInteressado/RascunhoInteressados.cshtml", Model)
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_4">
            @Html.Partial("~/Views/RascunhoAbrangencia/RascunhoMunicipio.cshtml", Model)
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_5">
            @Html.Partial("~/Views/RascunhoAnexo/RascunhoAnexo.cshtml", Model)
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_6">
            <div class="box-body" id="visualizarRascunho">
            </div>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>

@section scripts{
    <script src="~/js/rascunhoBasico.js"></script>
    <script src="~/js/rascunhoSinalizacao.js"></script>
    <script src="~/js/rascunhoInteressado.js"></script>
    <script src="~/js/rascunhoAbrangencia.js"></script>
    <script src="~/js/rascunhoAnexo.js"></script>
    <script src="~/js/rascunhoListaPorOganizacao.js"></script>
    <script src="~/js/rascunhoVisualizacao.js"></script>
}

<script>    
    $mensagens = '@ViewBag.Mensagens' != ''? JSON.parse('@Html.Raw(ViewBag.Mensagens)'):[];
</script>
