@model RascunhoProcessoViewModel
@{
    ViewBag.Title = "Rascunhos";
    ViewBag.SubTitle = "Autuação de Processo - Rascunho";
}



<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><h3 class="box-title">Dados Básicos</h3></a></li>
        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><h3 class="box-title">Sinalizações</h3></a></li>
        <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false"><h3 class="box-title">Interessados</h3></a></li>
        <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="true"><h3 class="box-title">Abrangência</h3></a></li>
        <li class=""><a href="#tab_5" data-toggle="tab" aria-expanded="true"><h3 class="box-title">Anexos</h3></a></li>
        <li class=""><a href="#tab_6" data-toggle="tab" aria-expanded="true"><h3 class="box-title">Visualizar</h3></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            @Html.Partial("RascunhoBasico", Model)
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            @Html.Partial("~/Views/RascunhoSinalizacao/RascunhoSinalizacoes.cshtml", Model)
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
            @Html.Partial("~/Views/RascunhoInteressado/RascunhoInteressados.cshtml", Model)
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_4">
            @Html.Partial("~/Views/RascunhoAbrangencia/RascunhoMunicipio.cshtml", Model)
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_5">
            @Html.Partial("~/Views/RascunhoAnexo/RascunhoAnexo.cshtml", Model)
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_6">
            <div class="box-header with-border">
                @*<h3 class="box-title">Anexos do Processo</h3>*@
                <div class="btn-group">
                    <form data-ajax-mode="replace"
                          data-ajax-update="#visualizarRascunho"
                          data-ajax="true"
                          method="post">
                        <input type="hidden" asp-for="Id" />
                        <button formaction="Rascunho/AutuarPvrocessoPorIdRascunho" class="btnAutuarRascunho btn-sm btn btn-info pull-right" type="submit">
                            <i class="fa fa-save" aria-hidden="true"></i> Autuar
                        </button>
                    </form>
                    <form
                          asp-controller="Rascunho"
                          asp-action="Visualizar"
                          data-ajax-mode="replace"
                          data-ajax-update="#visualizarRascunho"
                          data-ajax="true"
                          method="post">
                        <input type="hidden" asp-for="Id" />                       
                        <button class="btnVisualizarRascunho btn-sm btn btn-info pull-right" type="submit">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Visualizar
                        </button>
                    </form>
                </div>
            </div>
            <div class="box-body" id="visualizarRascunho">

            </div>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>

<div class="modal fade" id="modalDescartarRascunho" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Descartar Rascunho</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts{
    <script src="~/js/rascunhoBasico.js"></script>
    <script src="~/js/rascunhoSinalizacao.js"></script>
    <script src="~/js/rascunhoInteressado.js"></script>
    <script src="~/js/rascunhoAbrangencia.js"></script>
    <script src="~/js/rascunhoAnexo.js"></script>
}