@model IEnumerable<RascunhoProcessoViewModel>


@foreach (var r in Model)
{
    <tr>
        <td>@r.Id</td>
        <td>@r.NomeUnidade</td>
        <td>@r.Atividade?.Descricao</td>
        <td>
            @if (r.Resumo?.Length > 100 && !r.Resumo.Contains("<table"))
            {
                @Html.Raw(r.Resumo.Substring(0, 99))

            }
            else
            {
                @Html.Raw(r.Resumo)
            }        
        </td>
        <td class="text-center">
            <div class="btn-group">
                <a class="btn btn-sm btn-info" asp-action="Editar" asp-controller="Rascunho" asp-route-id="@r.Id"><i class="fa fa-edit"></i></a>
                @*<a class="btn btn-sm btn-danger btnExcluirRascunho" asp-action="excluir" asp-controller="rascunho" asp-route-id="@r.Id"><i class="fa fa-trash"></i></a>*@
                <a class="btn btn-sm btn-danger btnExcluirRascunho" data-id="@r.Id"><i class="fa fa-trash"></i></a>
            </div>
        </td>
    </tr>
}

<script>
    $mensagens = '@ViewBag.Mensagens' != '' ? JSON.parse('@Html.Raw(ViewBag.Mensagens)') : [];
</script>