<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="https://cdn.es.gov.br/images/logo/governo/colors/brasao_es_64x61.png" type="image/x-icon">
    <link rel="icon" href="https://cdn.es.gov.br/images/logo/governo/colors/brasao_es_64x61.png" type="image/x-icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdn.es.gov.br/bootstrap/3.3.4/css/bootstrap.min.css">
    <!--iCheck-->
    <link href="~/lib/icheck/skins/square/_all.css" rel="stylesheet">
    <!--Select2-->
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <!--Toastr-->
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        .mini, .max {
            display: none;
        }

        body:not(.sidebar-collapse) .max {
            display: block;
        }

        body.sidebar-collapse .mini {
            display: block;
        }

        body.sidebar-open:not(.sidebar-collapse) .max {
            display: block;
        }

        body.sidebar-open:has(.sidebar-collapse) .max {
            display: block;
        }
        /*body:not(.sidebar-collapse) .max{
          display: none;
        }
        body:has(.sidebar-open) .max{
          display: block;
        }
        body:has(.sidebar-open) .mini{
          display: none;
        }*/
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">SP<b>E</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">Processo<b>Eletrônico</b></span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            @await Html.PartialAsync("_User")
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <img src="https://cdn.es.gov.br/images/logo/governo/brasao/left/Brasao_Governo_240.png" class="img-responsive max" />
                    <img src="https://cdn.es.gov.br/images/logo/governo/colors/brasao_es_64x61.png" class="img-responsive mini" />
                </div>
                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" data-mask="0000-00.0000.0.0.0000" name="q" class="form-control" placeholder="0000-00.0000.0.0.0000">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <!-- Optionally, you can add icons to the links -->
                    <li class="active"><a asp-action="Index" asp-controller="Inicio"><i class="fa fa-home"></i> <span>Página Inicial</span></a></li>
                    <li><a asp-action="SearchByOrganizacao" asp-controller="Processo"><i class="fa fa-inbox"></i> <span>Caixa de Entrada</span></a></li>
                    <li><a asp-action="Editar" asp-controller="Rascunho"><i class="fa fa-file-text-o"></i> <span>Autuar Processo</span></a></li>
                    <li><a asp-action="Index" asp-controller="Rascunho"><i class="fa fa-archive"></i> <span>Rascunhos</span></a></li>
                    <li><a href="#"><i class="fa fa-share-square-o"></i> <span>Caixa de Saída</span></a></li>
                    <li><a  asp-action="GetSinalizacoes" asp-controller="Sinalizacao"><i class="fa fa-archive"></i> <span>Sinalizações</span></a></li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Processo Eletrônico</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content container-fluid">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Versão 2.0
            </div>
            <!-- Default to the left -->
            Copyright &copy; 2017/2018 <a href="http://www.prodest.es.gov.br" target="_blank" title="Instituto de Tecnologia da Informação e Comunicação do Espírito Santo">Prodest</a>. Todos os direitos reservados.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="pull-right-container">
                                        <span class="label label-danger pull-right">70%</span>
                                    </span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!--Modal-->
    <div class="modal fade" id="modaldefault" data-keyboard="false" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="modaldefaultTitulo">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modaldefaultTitulo"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnModalCancela" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnModalConfirma" class="btn btn-primary pull-right" data-dismiss="modal">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <!--/Modal-->

    <!--Load-->
    <div class="modal fade" id="modalLoad" data-keyboard="false" data-backdrop="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm text-center" role="document">                        
            <i class="fa fa-circle-o-notch fa-3x fa-spin" aria-hidden="true"></i>
        </div>
    </div>
    <!--/Load-->
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="https://cdn.es.gov.br/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- JQuery Mask -->
    <script src="~/lib/jquery-mask-plugin/dist/jquery.mask.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/lib/icheck/icheck.min.js"></script>
    <script src="~/lib/select2/dist/js/select2.full.js"></script>
    <script src="~/lib/select2/dist/js/i18n/pt-BR.js"></script>
    <!--Toastr-->
    <script src="~/lib/toastr/toastr.js"></script>
    <!--Custom Scripts-->
    <script src="~/js/site.js"></script>
    <!--Render Scripts-->
    @RenderSection("scripts",false)

</body>
</html>