@model FormContatoViewModel

@{
    var index = 0;
}


<div class="form-group">
    <label>Contatos</label>
    <button type="button" id="btnAddContato" class="btn btn-xs btn-info"><i class="fa fa-plus"></i></button>
</div>
@if (Model.Contatos != null && Model.Contatos.Count > 0)
{
    @foreach (var contato in Model.Contatos)
    {
        <div class="form-group formContato">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btnDelContato btn btn-danger"><i class="fa fa-close"></i></button>
                </span>

                @foreach (var item in Model.TiposContato)
                    {
                    <span class="input-group-addon">
                        <input type="radio" name="Contatos[@index].TipoContato.id" value="@item.id" /> @item.descricao
                    </span>
                }

                <input type="text" class="form-control" name="Contatos[@index++].Telefone" value="@contato.Telefone" />
            </div>
        </div>
    }
}
else
{
    <div class="form-group formContato">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btnDelContato btn btn-danger"><i class="fa fa-close"></i></button>
            </span>

            @foreach (var item in Model.TiposContato)
            {
                <span class="input-group-addon">
                    <input type="radio" name="Contatos[@ViewBag.index].TipoContato.id" value="@item.id" /> @item.descricao
                </span>
            }

            <input type="text" class="form-control" name="Contatos[@ViewBag.index].Telefone" />
        </div>
    </div>
}
