@model ListaInteressadosPJPF

@if ((Model?.InteressadosPJ?.Count > 0) || (Model?.InteressadosPF?.Count > 0))
{    
    <div class="box-body">        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-md-1 text-center">ID</th>
                    <th class="col-md-2 text-center">CNPJ/CPF</th>
                    <th class="col-md-4 text-center">RAZÃO SOCIAL/NOME</th>
                    <th class="col-md-2 text-center">MUNICÍPIO</th>
                    <th class="col-md-1 text-center">UF</th>
                    <th class="col-md-2 text-center">AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.InteressadosPJ.Count > 0)
                {
                    @foreach (var pj in Model.InteressadosPJ)
                    {
                        <tr>
                            <td class="text-center">@pj.Id</td>
                            <td class="text-center">@Convert.ToUInt64(pj.Cnpj).ToString(@"00\.000\.000\/0000\-00")</td>
                            <td>@pj.Sigla - @pj.RazaoSocial @(string.IsNullOrEmpty(pj.NomeUnidade) ? pj.SiglaUnidade + " - " + pj.NomeUnidade : "")</td>
                            <td>@pj.NomeMunicipio</td>
                            <td class="text-center">@pj.UfMunicipio</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" data-id="@pj.Id" class="btn btn-sm btn-info btn-editar-interessado-pj"><i class="fa fa-edit"></i></button>
                                    <button type="button" data-id="@pj.Id" class="btn btn-sm btn-danger btn-excluir-interessado-pj"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                @if (Model?.InteressadosPF.Count > 0)
                {
                    @foreach (var pf in Model.InteressadosPF)
                    {
                        <tr>
                            <td class="text-center">@pf.Id</td>
                            <td class="text-right cpf">@pf.Cpf</td>
                            <td>@pf.Nome</td>
                            <td>@pf.NomeMunicipio</td>
                            <td>@pf.UfMunicipio</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" data-id="@pf.Id" class="btn btn-sm btn-info btn-editar-interessado-pf"><i class="fa fa-edit"></i></button>
                                    <button type="button" data-id="@pf.Id" class="btn btn-sm btn-danger btn-excluir-interessado-pf"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
<hr />
}

<script>
    $mensagens = '@ViewBag.Mensagens' != '' ? JSON.parse('@Html.Raw(ViewBag.Mensagens)') : [];
</script>
