@model GetProcessoViewModel

@{
    ViewBag.Title = "Processos";
    ViewBag.SubTitle = "Visualização de Processos";
}

@if (Model != null)
{
    <div class="box box-primary">
        <!-- /.box-header -->
        <div class="box-header with-border">
            <h3 class="box-title">Dados do Processo</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding" style="display: block;">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th class="col-md-2 text-right">Número</th>
                        <td>@Model.Numero</td>
                    </tr>
                    <tr>
                        <th class="col-md-2 text-right">Classificação</th>
                        <td>@Model.Atividade.CodigoDescricao</td>
                    </tr>
                    <tr>
                        <th class="col-md-2 text-right">Resumo</th>
                        <td>
                            <p>@Model.Resumo</p>
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-2 text-right">Autuação</th>
                        <td>@Model.DataAutuacao</td>
                    </tr>
                    <tr>
                        <th class="col-md-2 text-right">Último Tramite</th>
                        <td>@Model.DataUltimoTramite</td>
                    </tr>
                    <tr>
                        <th class="col-md-2 text-right">Nome do Autuador</th>
                        <td>
                            @Model.NomeUsuarioAutuador
                        </td>
                    </tr>
                    <tr>
                        <th class="col-md-2 text-right">Órgão</th>
                        <td>@Model.NomeOrganizacaoAutuadora</td>
                    </tr>
                    <tr>
                        <th class="col-md-2 text-right">Unidade</th>
                        <td>@Model.NomeUnidadeAutuadora</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="box box-primary collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Abrangência</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body table-responsive no-padding" style="display: none;">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-md-2">UF</th>
                        <th>Município</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MunicipioViewModel municipio in Model.Municipios)
                    {
                        <tr>
                            <td>@municipio.Uf</td>
                            <td>@municipio.Nome</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="box box-primary collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Sinalizações</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body table-responsive no-padding" style="display: none;">

            @if (Model.Sinalizacoes?.Count > 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (SinalizacaoViewModel sinalizacao in Model.Sinalizacoes)
                        {
                            <tr>
                                <td>@sinalizacao.Descricao</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p class="text-center">Não há sinalizações</p>
            }
        </div>

    </div>

    <div class="box box-primary collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Interessados</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body table-responsive no-padding" style="display: none;">
            @if (Model.InteressadosPessoaJuridica?.Count > 0 || Model.InteressadosPessoaFisica?.Count > 0)
            {
                
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="col-lg-2 col-md-3">CPNJ/CPF</th>
                                <th>Nome/Razão Social</th>
                                <th>Unidade</th>
                                <th>Município</th>
                                <th>Contato</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.InteressadosPessoaJuridica?.Count > 0)
                            {

                                @foreach (var pj in Model.InteressadosPessoaJuridica)
                                {
                                    <tr>
                                        <td class="cnpj">@pj.Cnpj</td>
                                        <td>@pj.RazaoSocial</td>
                                        <td>@pj.NomeUnidade</td>
                                        <td>@pj.NomeMunicipio</td>
                                        <td>
                                            @if (pj.Contatos?.Count > 0)
                                            {
                                                @foreach (var c in pj.Contatos)
                                                {
                                                    @c.Telefone
                                                }

                                            }
                                        </td>
                                        <td>
                                            @if (pj.Emails?.Count > 0)
                                            {
                                                @foreach (var m in pj.Emails)
                                                {
                                                    @m.Endereco
                                                }

                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            @if (Model.InteressadosPessoaFisica?.Count > 0)
                            {
                                @foreach (var pf in Model.InteressadosPessoaFisica)
                                {
                                    <tr>
                                        <td class="cpf">@pf.Cpf</td>
                                        <td>@pf.Nome</td>
                                        <td>-</td>
                                        <td>@pf.NomeMunicipio</td>
                                        <td>
                                            @if (pf.Contatos?.Count > 0)
                                            {
                                                @foreach (var c in pf.Contatos)
                                                {
                                                    @c.Telefone
                                                }

                                            }
                                        </td>
                                        <td>
                                            @if (pf.Emails?.Count > 0)
                                            {
                                                @foreach (var m in pf.Emails)
                                                {
                                                    @m.Endereco
                                                }

                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                
            }

        </div>
    </div>


    <div class="box box-primary collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Anexos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body table-responsive no-padding" style="display: none;">
            @if (Model.Anexos?.Count > 0)
            {
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Arquivo</th>
                            <th>Descrição</th>
                            <th>Tipo Documental</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.Anexos)
                        {
                            <tr>
                                <td>@a.Nome</td>
                                <td>@a.Descricao</td>
                                <td>@a.TipoDocumental?.Codigo @a.TipoDocumental?.Descricao</td>
                                <td>@a.MimeType</td>
                            </tr>
                        }
                    </tbody>
                </table>

            }

        </div>
    </div>
    
}

<script>
    $mensagens = '@ViewBag.Mensagens' != ''? JSON.parse('@Html.Raw(ViewBag.Mensagens)'):[];
</script>

@section scripts {
    <script>
        $('.cnpj').mask('00.000.000/0000-00', { reverse: true });
        $('.cpf').mask('000.000.000-00', { reverse: true });
    </script>
}
