@model ICollection<RascunhoDespachoViewModel>

@if (Model?.Count > 0 && Model.First().Id > 0)
{
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th class="col-md-3">TEXTO</th>
                <th class="col-md-3">ORGANIZAÇÃO</th>
                <th class="col-md-3">UNIDADE</th>
                <th class="text-center col-md-2">SELECIONE</th>
            </tr>
        </thead>
        <tbody id="listaRascunhosDespacho">
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>
                        @if (r.Texto?.Length > 100 && !r.Texto.Contains("<table"))
                        {
                            @Html.Raw(r.Texto.Substring(0, 99))

                        }
                        else
                        {
                            @Html.Raw(r.Texto)
                        }
                    </td>
                    <td>@r.NomeOrganizacaoDestino</td>
                    <td>@r.NomeUnidadeDestino</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <form asp-action="UpdateFormDespacho"
                                  asp-controller="RascunhoDespacho"
                                  data-ajax-mode="replace"
                                  data-ajax-success="InicializacaoComponentes"
                                  data-ajax-update="#opcoes-carregamento"
                                  data-ajax="true"
                                  data-ajax-method="GET">
                                <input type="hidden" name="Id" value="@r.Id" />
                                <input type="hidden" name="IdProcesso" value="@r.IdProcesso" />
                                <input type="hidden" name="IdAtividade" value="@r.IdAtividade" />
                                <button class="btn btn-sm btn-info"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">Você não possui rascunho de despacho.</div>
}


<div class="form-group">
    <form asp-action="OpcoesCarregamento"
          asp-controller="Despachos"
          data-ajax-mode="replace"
          data-ajax-update="#opcoes-carregamento"
          data-ajax="true"
          data-ajax-method="GET">
        <input type="hidden" name="IdProcesso" value="@Model.First().IdProcesso." />
        <input type="hidden" name="IdAtividade" value="@Model.First().IdAtividade" />
        <button class="btn btn-block btn-danger"><i class="fa fa-close"></i> Cancelar</button>
    </form>
</div>


<script>
    $mensagens = '@ViewBag.Mensagens' != '' ? JSON.parse('@Html.Raw(ViewBag.Mensagens)') : [];
</script>