@model IList<MunicipioViewModel>
@if (Model?.Count > 0)
{   
    <div class="box-header with-border">
        <h3 class="box-title">Municípios Selecionados</h3>
    </div>
    <div class="box-body">
        @foreach (var item in Model.Select((value, i) => new { i, value }))
        {
            <div class="checkbox municipio col-lg-3 col-md-4 col-xs-6" id="@item.value.GuidMunicipio">
                <label><input type="checkbox" checked name="MunicipiosRascunhoProcesso[@item.i].GuidMunicipio" value="@item.value.GuidMunicipio" /> @item.value.Nome</label>
            </div>
        }
    </div>
}

<script>
    $mensagens = '@ViewBag.Mensagens' != '' ? JSON.parse('@Html.Raw(ViewBag.Mensagens)') : [];
</script>